<div class="row">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
          <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let p of _list.values; let i = index">
          <td> <input type="checkbox" [(ngModel)]='p.Checked' ></td>
        <td> {{i+1}}</td>
        <td>{{p.ProductName}}</td>
        <td>{{p.Price}}</td>
        <td>{{p.Description}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">

  <h5>All Items Total: {{getTotal()}}</h5>
</div>
<div class="row">
    <h5 class="text-success">Current sum: {{sumSelectedItems()}} </h5>
</div>
{{logger()}}

