<div class="container" style="margin:73px;" *ngIf="itemsList.values.length > 0">
  <div class="row">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><input id="main-check-box" type="checkbox" (change)="checkAllItemsChange($event)"></th>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <!-- <th scope="col">Description</th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let p of itemsList.values; let i = index">
          <td> <input type="checkbox" [(ngModel)]='p.Checked'></td>
          <td> {{i+1}}</td>
          <td>{{p.ProductName}}</td>
          <td><input type="number" min=0 [(ngModel)]='p.Price'></td>
          <!-- <td>{{p.Description}}</td> -->
          <td>
            <div>

              <button class="btn" (click)="deleteItem(i)">
                <span class="fa fa-times"></span>
              </button>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

  </div>

</div>
<div class="navbar-dark bg-dark fixed-bottom ">
  <div class="container py-1">
    <div class="row">

      <div class="col">
        <h5 class="text-light">All Items Total: {{getTotal()}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 class="text-success">Current sum: {{sumSelectedItems()}} </h5>

      </div>
    </div>
  </div>
</div>
