<nav class="navbar navbar-dark bg-dark">
  <a [routerLink]="['home']" class="navbar-brand">Shopping List</a>
  <div class="btn-toolbar" id="toolbar">
    <a [routerLink]="['item/add']" class="navbar-brand">
      <button class="btn" type="button">
        <span class="fa fa-plus-circle" id="addbtn"></span>
      </button>
    </a>
    <button class="btn" type="button">
      <span class="fa fa-floppy-o" id="savebtn"></span>
    </button>
    <input id="uploadFileId" type="file" accept="application/json" (change)="onChange($event)"  >
    <button class="btn btn-outline-primary btn-sm mx-1" type="button" (click)="importList()">
      Import
    </button>
    <button class="btn btn-outline-primary btn-sm mx-1" type="button" (click)="exportList()">
        Export
      </button>
  </div>

</nav>